<form class="{{cssClass}}" autocomplete="off">
    <div class="npc">
        <div class="header border">
            <div class="flex row">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
                <div class="flex column grow">
                    <div class="name header-row">
                        <label>{{localize "BIO.NAME"}}</label>
                        <input name="name" type="text" value="{{actor.name}}" />
                    </div>
                    <div class="header-row">
                        <div class="archetype">
                            <label>{{localize "BIO.ARCHETYPE"}}</label>
                            <input name="system.bio.archetype" type="text" value="{{system.bio.archetype}}" />
                        </div>
                        <div class="pride">
                            <label>{{localize "BIO.PRIDE"}}</label>
                            <input style="margin-left: 18px" name="system.bio.pride" type="text"
                                value="{{system.bio.price}}" />
                        </div>
                        <div class="infamyCurrency">
                            <label>{{localize "CHARACTERISTIC.INFAMY"}}</label>
                            <input name="system.infamy.value" type="number" value="{{system.infamy.value}}"
                                data-dtype="Number" />
                            /
                            <input name="system.characteristics.infamy.bonus" type="number"
                                value="{{system.characteristics.infamy.bonus}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="motivation">
                            <label>{{localize "BIO.MOTIVATION"}}</label>
                            <input style="margin-left: 8px" name="system.bio.motivation" type="text"
                                value="{{system.bio.motivation}}" />
                        </div>
                        <div class="disgrace">
                            <label>{{localize "BIO.DISGRACE"}}</label>
                            <input name="system.bio.disgrace" type="text" value="{{system.bio.disgrace}}" />
                        </div>
                        <div class="fatigue">
                            <label>{{localize "FATIGUE"}}</label>
                            <input name="system.fatigue.value" type="number" value="{{system.fatigue.value}}"
                                data-dtype="Number" />
                            /
                            <input name="system.fatigue.max" type="number" value="{{system.fatigue.max}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="abilities">{{localize "TAB.ABILITIES"}}</b>
            <b class="item" data-tab="psychic-powers">{{localize "TAB.PSYCHIC_POWERS"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="progression">{{localize "TAB.ADVANCES"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/whfortyrp/template/sheet/actor/tab/npc-stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/whfortyrp/template/sheet/actor/tab/combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="abilities">
                {{> systems/whfortyrp/template/sheet/actor/tab/abilities.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="psychic-powers">
                {{> systems/whfortyrp/template/sheet/actor/tab/psychic-powers.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/whfortyrp/template/sheet/actor/tab/gear.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="progression">
                {{> systems/whfortyrp/template/sheet/actor/tab/progression.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/whfortyrp/template/sheet/actor/tab/npc-notes.html}}
            </div>
        </div>
    </div>
</form>