.whfortyrp.critical-injury .notes-editor {
    height: 395px;
    max-height: 395px;
}

.whfortyrp.critical-injury .header .part,
.whfortyrp.critical-injury .header .type {
    flex-basis: 50%;
}

.whfortyrp.critical-injury .header .part select,
.whfortyrp.critical-injury .header .type select {
    margin: 0 8px;
}
