.whfortyrp.special-ability .notes-editor {
    height: 395px;
    max-height: 395px;
}

.whfortyrp.special-ability .stats {
    height: 400px;
    align-content: baseline;
}

.whfortyrp.special-ability .stats .stats-row .stat.benefit input {
    width: 475px;
    height: 100px;
}