.whfortyrp.talent .notes-editor {
    height: 395px;
    max-height: 395px;
}

.whfortyrp.talent .stats {
    height: 400px;
    align-content: baseline;
}

.whfortyrp.talent .stats .stats-row .stat.prerequisites input {
    width: 28em;
}

.whfortyrp.talent .stats .stats-row .stat.tier input {
    width: 2em;
    text-align: center;
}

.whfortyrp.talent .stats .stats-row .stat.aptitudes input {
    width: 416px;
}

.whfortyrp.talent .stats .stats-row .stat.benefit input {
    width: 475px;
    height: 100px;
}